
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.pickers-wrapper {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex: 1;
  width: 400px;
}

.form-date-picker {
  flex: 55%;
}

.form-time-picker {
  flex: 45%;
  margin-left: 16px;
}

